@model estacionamento_dapper.Models.Ticket

@{
    ViewData["Title"] = "Incluir Ticket";
}

<div class="text-center">
    <h1 class="display-4">Novo ticket</h1>
</div>

<div class="text-left">

    <form asp-action="Criar" asp-controller="Tickets" method="post">
        <div class="form-group">
            <label for="Nome">Nome do cliente</label>
            <input type="text" class="form-control" id="Nome" required>
        </div>

        <div class="form-group">
            <label for="Nome">CPF do cliente</label>
            <input type="text" class="form-control" id="Cpf" required>
        </div>

        <div class="form-group">
            <label for="Nome">Placa do veículo</label>
            <input type="text" class="form-control" id="Placa" required>
        </div>

        <div class="form-group">
            <label for="Nome">Modelo do veículo</label>
            <input type="text" class="form-control" id="Modelo" required>
        </div>

        <div class="form-group">
            <label for="Nome">Marca do veículo</label>
            <input type="text" class="form-control" id="Marca" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

</div>
